.DS_Store
.dart_tool/

.packages
.pub/
pubspec.lock

*.iml
.DS_Store

# Directory created by dartdoc
# If you don't generate documentation locally you can remove this line.
doc/api/

# Files created by Android Studio
.idea/

ios/


# Miscellaneous
*.class
*.lock
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws

build/

.flutter-plugins
